{% load staticfiles %}
<html ng-app="callYourFolksApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="{% static "callyourfolks/vendor.js" %}"></script>
        <script src="{% static "callyourfolks/templates.js" %}"></script>
        <script src="{% static "callyourfolks/index.js" %}"></script>
        <link rel="stylesheet" type="text" href="{% static "callyourfolks/vendor.css" %}">
        <link rel="stylesheet" type="text" href="{% static "callyourfolks/index.css" %}">
    </head>
    <body ng-controller="MainController">
        <contacts></contacts>
    </body>
</html>
